* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: "fzjljw";
    src: url(./FZJLJW.TTF)
}

body {
    font-family: 'fzjljw';
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

ul li {
    list-style: none;
}

.inner-model {
    padding: 15px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.clear {
    clear: both;
}

.clear::after {
    display: block;
}

img {
    max-width: 100%;
}

/*************envlope**********/
.envelope {
    background: rgba(255, 247, 243, 1);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
    opacity: 1;
}

.envelope_inner {
    position: relative;

}

.envelope img {
    width: 90%;
}

.envelope .hat {

    position: absolute;

}

/*************cover****************/

#wedding {
    position: relative;
    min-height: 100%;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}

.cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background:url(../images/bg/top.png) center top no-repeat,url(../images/bg/bottom.png) center bottom no-repeat; 
     background-size: 100% auto;
     */
    background-color: rgb(255, 255, 255);
    background-image: url(../images/bg/cover_bottom.png), url(../images/bg/cover_middle.png), url(../images/bg/cover_top.png);
    background-position: right 20px bottom, right center, right top;
    background-size: 46vh, 13vh, 30vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-color: rgba(255, 247, 243, 1);
    transition: .5s;
    transform: translateX(100%);
    align-items: center;

}

.cover.shade-in {
    display: flex;
}

.cover_content {
    text-align: center;
    width: 100%;
}

#coverInner {
    padding-left: 30px;
    text-align: left;
    font-size: 18px;
    line-height: 1.3;
    color: #333;
}

#join {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid currentcolor; */
    border-radius: 5px;
    padding: 0px 20px;
    text-align: center;
    height: 40px;
    width: 106px;
    font-size: 1rem;
    color: currentcolor;
    margin: 36px auto 0;
    transition: transform 200ms ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

#join img {
    width: 40px;
    position: relative;
    animation: toRight 1.5s infinite both;
    -webkit-animation: toRight 1.5s infinite both;
}

#join.active {
    opacity: 1;
    visibility: visible;

}

#coverInner::after {
    content: '|';
    animation: blink 1.5s infinite
}


@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes toRight {
    0% {
        -webkit-animation: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(3px);

        transform: translateX(3px);

    }

    80% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    100% {
        -webkit-animation: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes toRight {
    0% {
        -webkit-animation: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(3px);

        transform: translateX(3px);

    }

    80% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    100% {
        -webkit-animation: translateX(0);
        transform: translateX(0);
    }
}


/********wedding cons********/
.wedding-cons {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: .35s;
    background: #fff;
    border-radius: 100%;
}
.wedding-cons .con-inner{
    display: none;
    width: 100%;
    height: 100%;
}
.wedding-cons.shade-in .con-inner{
    display: block
}
.wedding-inner {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.top {
    margin-top: 30px;
    margin-bottom: 30px;
}

.music {
    width: 32px;
    height: 32px;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 99;
    background: #fff;
    border-radius: 100%;
}

.music.active {
    animation: circle infinite linear 3s forwards;
}

.big-pic {
    position: relative;
    padding: 0 30px 30px 15px;
}

.big-pic .pic {
    position: relative;
    z-index: 10;
}

.big-pic .memo {
    position: absolute;
    z-index: 15;
    left: 12px;
    bottom: 36px;
    width: 76px;
    /* animation: circle infinite linear 10s forwards;  */
}

@keyframes circle {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.big-pic::before {
    position: absolute;
    width: 80%;
    height: 80%;
    content: '';
    top: 16px;
    left: 42px;
    bottom: 0;
    border: 10px solid #b2c1a4;
}

/*****shde in out***/
.shade-out {
    transform: translateX(-100%);
    opacity: 0;
}

.shade-in {
    transform: translateX(0);
    opacity: 1;
}

.groom-bride {
    padding: 0 15px;
    font-size: 14px;
}

.groom-bride img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.groom-bride .person {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

}

.groom-bride .pics {
    width: 60px;
    text-align: center;
}

.groom-bride .desc {
    flex: 1;
    font-weight: 800;
    /* border:1px solid rgba(186,219,196,.2); */
    border-radius: 4px;
    background: rgba(186, 219, 196, .3);
    padding: 5px;
    position: relative;
}

.groom-bride .desc::after {
    content: '';
    position: absolute;
    left: -12px;
    bottom: 10px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(186, 219, 196, .3) transparent transparent;
    transform: rotate(90deg);
}

.groom .desc::after {
    left: auto;
    right: -12px;
    transform: rotate(-90deg);
}

/*life photo*/
.life-photos {
    background: url(../images/bg/mt.jpg) center top no-repeat;
    background-size: 100% 100%;
    padding: 14px;
    font-size: 14px;
}

.life-photos .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.life-photos .col {
    width: 49%;
    padding: 10px;
    background: #fff;
}

/**wedding swiper**/
.swiper-container {
    width: 100%;
    height: 320px;
    padding: 8px;
    background: url(../images/bg/circle.png) center top no-repeat;
    background-size: 100% 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}

.swiper-inner {
    overflow: hidden;
    position: relative;

}

.swiper-slide img {
    transform: rotate(8deg) scale(.8);
    border: 10px solid #fff;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);
    transition: .35s;
    /* transform-origin: 0 0; */
}


.sub-title {
    text-align: center;
    padding: 20px 0;
}

.sub-title img {
    width: 60px;
}

/***wedding time ****/

.wedding-time .ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.wedding-time .item {
    text-align: center;
    width: 80px;
    height: 80px;
    background: url(../images/bg/time_bg.jpg) center top no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.wedding-time .big-item {
    width: 120px;
    height: 120px;
}

.wedding-time .num {
    font-size: 30px;

}

.wedding-time .unit {
    font-size: 14px;
}

.time-address .item {
    display: flex;
    align-items: center;
    font-size: 20px;

}

.time-address .icon {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.time-address img {
    width: 36px;
}

.time-address .time {
    width: 26px;
}